body {
	overflow-x: hidden;
}

.face-page__title {
	color: white;
	position: initial;
	margin: 0px;
	padding: 25px;
}

.face-page__title h1 {
	margin-top: 60vh;
	margin-left: 0px;
	color: white;
	line-height: initial;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	line-height: 0.9;
}

.face-page__title p  {
	display: inline-block;
	font-family: "Bebas Bold";
	color: white;
	font-size: 32.36px;
	text-transform: uppercase;
	line-height: 0px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.face-page__title p:nth-child(even) {
	cursor: pointer;
    line-height: 0.9;
} 

.face-page__title p.active {
	color: #E94E53;
}

.face-page__title p:nth-child(even).active.open {
	color: #313A54;
}

.face-page__title_cases-menu.fixed {
	text-align: center;
	position: fixed;
	width: 60vw;
	top: 30px;
	right: 20vw;
	z-index: 30;
}

.face-page__title_cases-menu.fixed.open {
	z-index: 10;
}

.cases-body {
	position: absolute;
	left: 0;
	top: 100vh;
	width: 100vw;
	margin: 0px;
	padding: 0px;
}

.cases-body img {
	width: 100%;
}

.cases-body__block {
	position: relative;
	height: 500px;
	margin: 0px;
	padding: 0px;
	padding-right: 15px;
}

.cases-body__block-textblock {
	height: inherit;
	padding: 25px;
	
	color: #313A54;
}

.cases-body__block h3 {
	margin: 0px;
	padding: 0px;
	font-family: "Bebas Bold";
	font-size: 4.2rem;
	text-transform: uppercase;
}

.cases-body__block h4 {
	margin: 0px;
	padding: 0px;
}

.cases-body__block-textblock-name {
	padding: 6px;
	padding-left: 15px;
}

.cases-body__block-textblock-img {
	border: 5px solid #E94E53;
	background-size: cover;
    /* background-position: 50% 50%; */
	height: 500px;
	max-height: 500px;
	padding: 0px;
	cursor: pointer;
	z-index: 5;
	overflow-y: scroll;
	opacity: 0;
}

.snabservice-img {
	/* background-image: url("../files/png/snabservice.png"); */
	/* background-image: url("../files/png/milyakov.png"); */
}

.snabservice-img img {}

.tehnocor-img {
	/* background-image: url("../files/png/tehnocor.png"); */
}

.tcm-img {
	/* background-image: url("../files/png/tcm.png"); */
}

.santermic-img {
	/* background-image: url("../files/png/santermic.png"); */
}

.development {
	background-color: #242938;
	left: 0vw;
}

.design {
	background-color: #242938;
	left: 100vw;
}

.marketing {
	background-color: #242938;
	left: 200vw;
}

.cases-body__block-1.scroll,
.cases-body__block-1.scroll {
	background-color: white;
}

.snabservice-img.scroll,
.tehnocor-img.scroll {
	opacity: 1 !important;
}

.footer {
	position: relative;
	bottom: 0px;
	background-color: #E94E53;
	height: 500px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.footer.open {
	background-color: #242938;
}

.footer__slogan {
	height: 100px;
	margin-bottom: 120px;
}

.footer__slogan h1 {
	font-family: "Bebas Bold";
	color: white;
	font-size: 9.492rem;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.footer__slogan h1.open {
	color: #313A54;
}

.footer__link-modul,
.footer__contacts {
	margin-top: 200px;
}

.footer__link-modul .row {
	margin: 0px;
}

.footer img {
	height: 28px;
	width: 28px;
	margin-left: 0px;
	margin-right: 25px;
	opacity: .9;
}
