/* RESETS */

*, 
*:before, 
*:after {
	padding: 0;
	margin: 0; 
	box-sizing: border-box;
}	


.header div,
.footer div,
.team__photo-block-element,
.portfolio__face-page,
.cases-gallery,
.services-list {
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/* TYPOGRAPHY */

@font-face {
    font-family: "Bebas Bold";
	src: url('../files/fonts/BebasNeue Bold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Attractive-Regular";
	src: url('../files/fonts/Attractive-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

p,
a {
	font-family: "Attractive-Regular";
	font-size: 20px;
	line-height: 24px;
	color: white;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.footer a,
.footer p {
	opacity: .9;
}

p:hover,
a:hover,
a:focus,
a:active {
	opacity: 1;
	color: white;
	text-decoration: none;
}

.{
	font-size: 10px;
	opacity: .9;
}

h1,
h2,
h3,
h4 {
	font-family: "Bebas Bold";
	font-size: 100px;
	color: #E94E53;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

h1.not-main {
	color: white;
}

.not-main__footer__slogan h1 {
	margin-left: 0px !important;
}

h2 {
	font-size: 52px;
	line-height: normal;
	color: white;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.not-main__footer__slogan h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

h3 {
	font-size: 32px;
	line-height: normal;
	color: white;
}

h4 {
	font-size: 20px;
}

.team__photo-block h4 {
	color: #313A54;
	padding: 0px;
	margin: 0px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;	
}

hr {
	margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
}

hr.title40{
	height: 4px;
	width: 56px;
	background: #E94E53;  
}

hr.title28{
	margin-top: 20px;
	height: 4px;
	width: 28px;
	background: #FFF;
}

hr.open {
	background: #313A54 !important;
} 

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
}
::-moz-placeholder { /* Firefox 19+ */
	color: white;
}
:-ms-input-placeholder { /* IE 10+ */
	color: white;
}
:-moz-placeholder { /* Firefox 18- */
	color: white;
}
 

/* GLOBAL */

body {
	height: 100vh;
	background-color: #313A54;
	font-family: "Attractive-Regular";
	font-size: 20px;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

body.open {
	overflow-y: hidden;
}

.object__background-image {
	background-color: #191A26;
	background-image: url("../files/jpg/photo.jpg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	opacity: .4;
	background-blend-mode: multiply;
	filter: blur(3px) ;
	-webkit-filter: blur(3px);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out; 
}

.object__background-image.open {
	filter: blur(4px) ;
	-webkit-filter: blur(4px)
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.object__menu-slide-box {
	background-color: #E94E53;
	height: 100vh;
	width: 39vw;
	position: fixed; 
	right: -39vw;
	padding-top: 15vh;
	z-index: 15;
}

.object__menu-slide-box ul {
	height: 60vh;
	width: 70vw;
}

.object__menu-slide-box li {
	font-family: "Bebas Bold";
	font-size: 84.716px;
	line-height: 120px;
	height: 120px;
	list-style: none;
	padding: 0;
	padding-top: 10px;
	padding-left: 50px;
}

.object__menu-slide-box a li  {
	color: white;
	width: inherit;
}

.object__menu-slide-box a:hover,
.object__menu-slide-box a:focus,
.object__menu-slide-box a:hover li {
	text-decoration: none;
	background-color: white;
	color: #E94E53;
	outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.object__menu-slide-box li a:focus {
	text-decoration: none;
}

.object__contact-form {
	background-color: #242938;
	height: 100vh;
	width: 61vw;
	padding: 25px;
	position: fixed; 
	left: -61vw;
	z-index: 15;
}

.object__contact-form_logo {
	position: fixed;
	display: block;
	width: 29px;
	position: fixed;
	left: 40px;
	top: 28px;
	z-index: 50;
}

.object__contact-form_logo.coverup {
	display: none;
}

.object__contact-form_box {
	font-family: "Attractive-Regular";
	width: 60%;
	margin-left: 20%;
	padding-top: 17vh;
}

.object__contact-form_box input,
.object__contact-form_box textarea  {
	display: block;
	resize: none;
	background-color: #1F212F;
	border: none;
	height: 50px;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 50px;
}

.object__contact-form_box input:focus,
.object__contact-form_box textarea:focus {
	outline: none;
	background-color: white;
	color: #1F212F;
}

.object__contact-form_box input[type="text"]:invalid:focus,
.object__contact-form_box input[type="email"]:invalid:focus,
.object__contact-form_box textarea:invalid:focus{
	color: white;
	background: url("../files/svg/formNval.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 10px 17px;
}

.object__contact-form_box input[type="text"]:valid,
.object__contact-form_box input[type="email"]:valid,
.object__contact-form_box textarea:valid {
	color: white;
	background: url("../files/svg/formVal.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 10px 17px;
}

.object__contact-form_box textarea {
	height: 160px;
}

.object__contact-form_box-button {
	background-color: #E94E53 !important;
	padding-left: 0px;
}

.object__contact-form_box input[type="submit"] {
	padding-left: 0px;
}

.object__contact-form_box input[type="submit"]:focus {
	color: white;
}

.object__contact-form_box-hidden {
	display: none !important;
}

.header {
	height: 80px;
	padding: 28px;
}

.header__logo img {
	display: block;
	float: left;
	height: 28px;
	z-index: 15;
}

.header__logo img.coverup {
	display: none;
}

.logo-dark {
	display: none;
}

.header__menu-button {
	float: right;
}

.header__menu-button_icon {
	position: absolute;
	right: 0;
	width: 24px;
	height: 24px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 15;
}

.header__menu-button_icon span {
	display: block;
	position: absolute;
	right: 31px;
	height: 4px;
	width: 100%;
	background: #fff;
	border-radius: 0px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.header__menu-button_icon span:nth-child(1) {
	top: 0px;
}

.header__menu-button_icon span:nth-child(2),.header__menu-button_icon span:nth-child(3) {
	top: 10px;
	width: 50%;
}

.header__menu-button_icon span:nth-child(4) {
	top: 20px;
}

.header__menu-button_icon.open span:nth-child(1) {
	top: 10px;
	width: 0%;
	left: 50%;
}

.header__menu-button_icon.open span:nth-child(2) {
	width: 100%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.header__menu-button_icon.open span:nth-child(3) {
	width: 100%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.header__menu-button_icon.open span:nth-child(4) {
	top: 10px;
	width: 0%;
	left: 50%;
}

.face-page__title {
	margin-left: 0px;
	margin-top: 25vh;
	width: 70%;
}

.face-page__title.open h1,
.face-page__title.open h2,
.face-page__title.open p {
	color: #313A54 !important;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 28px;
	padding-top: 56px;
}

.not-main__footer {
	position: relative;
	margin-top: 0px;
	background: transparent;
}

.not-main__footer.open {
}

.footer img,
.not-main__footer img {
	opacity: .9;
	display: inline-block;
	height: 28px;
	width: 28px;
	margin-right: 28px;
}

.footer img:hover,
.not-main__footer img:hover {
	opacity: 1;
}

img.coverup, 
img.coverup {
	display: none;
}

.footer__contacts,
.not-main__footer__contacts {
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}


/* OTHER */

.face-page__title.not-main {
	margin-left: 0px;
	margin-top: 40vh;
	margin-bottom: 60px !important;
}


/* TEAM */

.team__photo-block div.row:nth-child(1) {
	margin-right: 0px;
	margin-left: 0px;
}

.team__photo-block-element {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.team__photo-block.open {
	color: #313A54 !important;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;	
}

.team__photo-block-element_img img {
	width: 100%;
	margin-bottom: 10px;
}

.team__photo-block-element_img.open {
	opacity: .1;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}


/* CASES */

.cases-gallery {
	margin-left: 0px;
	margin-right: 0px;
}

.cases-gallery .row {
	min-height: 250px;
}

.cases-gallery div {
	padding-left: 0px;
	padding-right: 0px;
}

.cases-gallery .cases-gallery__element {
	max-height: 300px;
	overflow: hidden;
	background-color: #E94E53;
}

.cases-gallery img {
	position: absolute;
	top: 0;
	min-height: 300px;
	width: 100%;
	z-index: 1;
}

.cases-gallery__element {
	position: relative;
}

.cases-gallery__element_inner {
	min-height: 300px;
}

.cases-gallery__element_inner:hover > img {
	z-index: -1;
}

.cases-gallery__element_inner h3, 
.cases-gallery__element_inner p, 
.cases-gallery__element_inner div.button {
	position: absolute;
	left: 30px;
}

.cases-gallery__element_inner h3:nth-child(1) {
	top: 30px;
}

.cases-gallery__element_inner p:nth-child(2) {
	top: 76px;
}

.cases-gallery__element_inner div:nth-child(3) {
	top: 230px;
}

.cases-gallery__element_inner-text {
	margin-right: 30px;
}

.cases-gallery__element_inner-headline {
	font-family: "Bebas Bold";
}

.cases-gallery__button {
	box-sizing: border-box;
	background: white;
	height: 38px;
	padding: 10px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.cases-gallery__button a {
	font-family: "Bebas Bold";
	letter-spacing: 1px;
	color: #E94E53;
	margin: 0 auto;
	text-align: center;
}

.cases-gallery__button:hover {
	background: transparent;
	border: 2px solid white;
	padding: 8px;
	padding-left: 18px !important;
	padding-right: 18px !important;
}

.cases-gallery__button:hover a {
	color: white;
}


/* CASES */

.services-list .row {
	margin-bottom: 56px;
}

.services-list div {
	padding-left: 0px;
	padding-right: 0px;
}

.services-list__img {
	overflow: hidden;
}

.services-list__headline {
	font-family: "Bebas Bold";
}

.services-list__text {
	padding-left: 30px;
	padding-right: 30px;
}

.services-list__headline, 
.services-list__text  {
	padding-left: 30px;
	padding-right: 30px;
}

.services-list hr,
.services-list__button {
	margin-left: 30px;
}

.services-list__button {
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	box-sizing: border-box;
	background: #E94E53;
	text-align: center;
	width: 100px;
	height: 38px;
	margin-top: 30px;
	padding: 10px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.services-list__button a {
	font-family: "Bebas Bold";
	letter-spacing: 1px;
	color: white;
	margin: 0 auto;
}

.services-list__button:hover {
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	background: transparent;
	border: 2px solid white;
	padding: 8px;
	padding-left: 18px !important;
	padding-right: 18px !important;
}


/* !!! QUERIES !!! */

/* < 480 */

/* Portrait & Landscape */

@media only screen and (max-width: 480px) {

	/* GLOBAL */

	.object__menu-slide-box {
		right: -100vw;
		width: 100vw;
	}

	.object__menu-slide-box li {
		line-height: 80px;
		width: 100vw;
		height: 80px;
		margin-top: 0px;
		padding-top: 5px;
	}

	.object__menu-slide-box li {
		font-size: 52.358px;
		width: 100vw;
	}

	.object__menu-slide-box a:hover, 
	.object__menu-slide-box a:hover li {
	    width: 100vw;
	}

	.object__contact-form {
		width: 100vw;
		left: -100vw;
		padding-top: 8vh;
	}

	.object__contact-form_box {
		width: 100%;
		margin-left: 0%;
	}

	.object__contact-form_box input {
		height: 45px;
		padding: 8px;
	}

	.object__contact-form_box textarea {
		height: 150px;
		padding: 8px;
	}

	.object__contact-form_box-button {
		padding: 0px !important;
	}

	.face-page__title,
	.face-page__title.not-main {
		margin-top: 15vh;
		margin-right: 0px;
		width: 100%;
	}

	.face-page__title h1 {
		font-size: 84.716px;
	}

	.face-page__title h2 {
		font-size: 32.36px;
	}

	.face-page__title h3 {
		font-size: 20px;
	}

	.footer,
	.not-main__footer {
		position: relative;
		margin-top: 28px;
		padding: 0px;
		margin-left: 10px;
	}

	.footer img {
		margin-left: 5px;
		margin-right: 0px;
	}

	.footer__link-modul > div a,
	.not-main__footer__link-modul > div a {
		margin-right: 14px;
	}

	.footer__contacts,
	.not-main__footer__contacts {
		margin-top: 14px;
		text-align: left;
		margin-bottom: 28px;
	}

	.footer__contacts > div,
	.not-main__footer__contacts > div {
		margin-top: 14px;
	}

	.object__contact-form_box input[type="text"]:valid,
	.object__contact-form_box input[type="email"]:valid,
	.object__contact-form_box textarea:valid,
	.object__contact-form_box input[type="text"]:invalid:focus,
	.object__contact-form_box input[type="email"]:invalid:focus,
	.object__contact-form_box textarea:invalid:focus {
		background: none;
	}


	/* CASES */

	.cases-gallery img {
		width: auto;
	}


	/* SERVISES */

	.services-list__img img {
		width: 100%;
		margin-bottom: 30px;
	}

	.services-list__headline, 
	.services-list__text  {
		padding-left: 48px;
		padding-right: 48px;
	}

	.services-list hr,
	.services-list__button {
		margin-left: 48px;
	}
}


/* Landscape */

@media only screen and (max-width: 480px) and (orientation: landscape) {
}


/* < 568 */

/* Portrait & Landscape */

@media only screen and (max-width: 568px) {


	/* GLOBAL */

	.object__menu-slide-box {
		right: -100vw;
		width: 100vw;
	}

	.object__menu-slide-box li {
		line-height: 80px;
		width: 100vw;
		height: 80px;
		margin-top: 0px;
		padding-top: 5px;
	}

	.object__menu-slide-box li {
		font-size: 52.358px;
		width: 100vw;
	}

	.object__menu-slide-box a:hover, 
	.object__menu-slide-box a:hover li {
	    width: 100vw;
	}

	.object__contact-form {
		width: 100vw;
		left: -100vw;
		padding-top: 8vh;
	}

	.object__contact-form_box {
		width: 100%;
		margin-left: 0%;
	}

	.object__contact-form_box input {
		height: 45px;
		padding: 8px;
	}

	.object__contact-form_box textarea {
		height: 150px;
		padding: 8px;
	}

	.object__contact-form_box-button {
		padding: 0px !important;
	}

	.face-page__title,
	.face-page__title.not-main {
		margin-top: 15vh;
		margin-right: 0px;
		width: 100%;
	}

	.face-page__title h1 {
		font-size: 84.716px;
	}

	.face-page__title h2 {
		font-size: 32.36px;
	}

	.face-page__title h3 {
		font-size: 20px;
	}

	.footer,
	.not-main__footer {
		position: relative;
		margin-top: 28px;
		padding: 0px;
		margin-left: 10px;
	}

	.footer img {
		margin-left: 5px;
		margin-right: 0px;
	}

	.footer__link-modul > div a,
	.not-main__footer__link-modul > div a {
		margin-right: 14px;
	}

	.footer__contacts,
	.not-main__footer__contacts {
		margin-top: 14px;
		text-align: left;
		margin-bottom: 28px;
	}

	.footer__contacts > div,
	.not-main__footer__contacts > div {
		margin-top: 14px;
	}

	.object__contact-form_box input[type="text"]:valid,
	.object__contact-form_box input[type="email"]:valid,
	.object__contact-form_box textarea:valid,
	.object__contact-form_box input[type="text"]:invalid:focus,
	.object__contact-form_box input[type="email"]:invalid:focus,
	.object__contact-form_box textarea:invalid:focus {
		background: none;
	}


	/* CASES */

	.cases-gallery img {
		width: auto;
	}


	/* SERVISES */

	.services-list__img img {
		width: 100%;
		margin-bottom: 30px;
	}

	.services-list__headline, 
	.services-list__text  {
		padding-left: 48px;
		padding-right: 48px;
	}

	.services-list hr,
	.services-list__button {
		margin-left: 48px;
	}

}

/* Landscape */

@media only screen and (max-width: 568px) and (orientation: landscape) {
}


/* < 667 */

/* Portrait and Landscape */

@media only screen and (max-width: 667px)  {

	/* GLOBAL */

	.object__menu-slide-box {
		right: -100vw;
		width: 100vw;
	}

	.object__menu-slide-box li {
		line-height: 80px;
		width: 100vw;
		height: 80px;
		margin-top: 0px;
		padding-top: 5px;
	}

	.object__menu-slide-box li {
		font-size: 52.358px;
		width: 100vw;
	}

	.object__menu-slide-box a:hover, 
	.object__menu-slide-box a:hover li {
	    width: 100vw;
	}

	.object__contact-form {
		width: 100vw;
		left: -100vw;
		padding-top: 8vh;
	}

	.object__contact-form_box {
		width: 100%;
		margin-left: 0%;
	}

	.object__contact-form_box input {
		height: 45px;
		padding: 8px;
	}

	.object__contact-form_box textarea {
		height: 150px;
		padding: 8px;
	}

	.object__contact-form_box-button {
		padding: 0px !important;
	}

	.face-page__title,
	.face-page__title.not-main {
		margin-top: 15vh;
		margin-right: 0px;
		width: 100%;
	}

	.face-page__title h1 {
		font-size: 84.716px;
	}

	.face-page__title h2 {
		font-size: 32.36px;
	}

	.face-page__title h3 {
		font-size: 20px;
	}

	.footer,
	.not-main__footer {
		position: relative;
		margin-top: 28px;
		padding: 0px;
		margin-left: 10px;
	}

	.footer img {
		margin-left: 5px;
		margin-right: 0px;
	}

	.footer__link-modul > div a,
	.not-main__footer__link-modul > div a {
		margin-right: 14px;
	}

	.footer__contacts,
	.not-main__footer__contacts {
		margin-top: 14px;
		text-align: left;
		margin-bottom: 28px;
	}

	.footer__contacts > div,
	.not-main__footer__contacts > div {
		margin-top: 14px;
	}

	.object__contact-form_box input[type="text"]:valid,
	.object__contact-form_box input[type="email"]:valid,
	.object__contact-form_box textarea:valid,
	.object__contact-form_box input[type="text"]:invalid:focus,
	.object__contact-form_box input[type="email"]:invalid:focus,
	.object__contact-form_box textarea:invalid:focus {
		background: none;
	}


	/* CASES */

	.cases-gallery img {
		width: auto;
	}


	/* SERVISES */

	.services-list__img img {
		width: 100%;
		margin-bottom: 30px;
	}

	.services-list__headline, 
	.services-list__text  {
		padding-left: 48px;
		padding-right: 48px;
	}

	.services-list hr,
	.services-list__button {
		margin-left: 48px;
	}
}

/* Landscape */

@media only screen and (max-width: 667px) and (orientation: landscape) { 
}


/* < 736 */

/* Portrait and Landscape */

@media only screen and (max-width: 736px)  { 

	/* GLOBAL */

	.object__menu-slide-box {
		right: -100vw;
		width: 100vw;
	}

	.object__menu-slide-box li {
		line-height: 80px;
		width: 100vw;
		height: 80px;
		margin-top: 0px;
		padding-top: 5px;
	}

	.object__menu-slide-box li {
		font-size: 52.358px;
		width: 100vw;
	}

	.object__menu-slide-box a:hover, 
	.object__menu-slide-box a:hover li {
	    width: 100vw;
	}

	.object__contact-form {
		width: 100vw;
		left: -100vw;
		padding-top: 8vh;
	}

	.object__contact-form_box {
		width: 100%;
		margin-left: 0%;
	}

	.object__contact-form_box input {
		height: 45px;
		padding: 8px;
	}

	.object__contact-form_box textarea {
		height: 150px;
		padding: 8px;
	}

	.object__contact-form_box-button {
		padding: 0px !important;
	}

	.face-page__title,
	.face-page__title.not-main {
		margin-top: 15vh;
		margin-right: 0px;
		width: 100%;
	}

	.face-page__title h1 {
		font-size: 84.716px;
	}

	.face-page__title h2 {
		font-size: 32.36px;
	}

	.face-page__title h3 {
		font-size: 20px;
	}

	.footer,
	.not-main__footer {
		position: relative;
		margin-top: 28px;
		padding: 0px;
		margin-left: 10px;
	}

	.footer img {
		margin-left: 5px;
		margin-right: 0px;
	}

	.footer__link-modul > div a,
	.not-main__footer__link-modul > div a {
		margin-right: 14px;
	}

	.footer__contacts,
	.not-main__footer__contacts {
		margin-top: 14px;
		text-align: left;
		margin-bottom: 28px;
	}

	.footer__contacts > div,
	.not-main__footer__contacts > div {
		margin-top: 14px;
	}

	.object__contact-form_box input[type="text"]:valid,
	.object__contact-form_box input[type="email"]:valid,
	.object__contact-form_box textarea:valid,
	.object__contact-form_box input[type="text"]:invalid:focus,
	.object__contact-form_box input[type="email"]:invalid:focus,
	.object__contact-form_box textarea:invalid:focus {
		background: none;
	}


	/* CASES */

	.cases-gallery img {
		width: auto;
	}


	/* SERVISES */

	.services-list__img img {
		width: 100%;
		margin-bottom: 30px;
	}

	.services-list__headline, 
	.services-list__text  {
		padding-left: 48px;
		padding-right: 48px;
	}

	.services-list hr,
	.services-list__button {
		margin-left: 48px;
	}

}

/* Landscape */

@media only screen and (max-width: 736px) and (orientation: landscape) { 

}


/* < 1024 */

/* Portrait and Landscape */

@media only screen and (max-width: 1024px)  {
	.face-page__title,
	.face-page__title.not-main {
		margin-top: 40vh;
		margin-right: 0px;
	}

	.footer,
	.not-main__footer {
		position: relative;
		margin-top: 28px;
		padding: 0px;
		margin-left: 10px;
	}

	.footer img {
		margin-left: 5px;
		margin-right: 0px;
	}

	.footer__link-modul > div a,
	.not-main__footer__link-modul > div a {
		margin-right: 14px;
	}

	.footer__contacts,
	.not-main__footer__contacts {
		margin-top: 14px;
		text-align: left;
		margin-bottom: 28px;
	}

	.footer__contacts > div,
	.not-main__footer__contacts > div {
		margin-top: 14px;
	}

	.services-list__img img {
		width: 100%;
		margin-bottom: 30px;
	}

	.services-list__headline, 
	.services-list__text  {
		padding-left: 48px;
		padding-right: 48px;
	}

	.services-list hr,
	.services-list__button {
		margin-left: 48px;
	}

}

/* Landscape */

@media only screen and (max-width: 1024px) and (orientation: landscape)  {

}


/* < 1600 */

@media screen and (max-width: 1600px)  { 

}


/* < 1600 + 192dpi */

@media screen and (max-width: 1600px) and (min-resolution: 192dpi) { 
}