/* --------------------------------------------------------------------------------------------------- 	
less than 480
--------------------------------------------------------------------------------------------------- */
/* Portrait and Landscape */
@media only screen and (max-width: 480px) {
  	body {
		font-size: 12.361px;
	}

	.object__menu-slide-box {
		right: -100vw;
		width: 100vw;
	}

	.object__menu-slide-box li {
		line-height: 80px;
		width: 100vw;
		height: 80px;
		margin-top: 0px;
		padding-top: 0px;
	}

	.object__menu-slide-box li a {
		font-size: 52.358px;
		width: 100vw;
	}

	.object__menu-slide-box li:hover, 
	.object__menu-slide-box li:hover a {
		 vertical-align: baseline;
	}

	.object__contact-form {
		width: 100vw;
		left: -100vw;
		padding-top: 8vh;
	}

	.object__contact-form_box {
		width: 100%;
		margin-left: 0%;
	}

	.object__contact-form_box input {
		height: 45px;
		padding: 8px;
	}

	.object__contact-form_box textarea {
		height: 150px;
		padding: 8px;
	}

	.object__contact-form_box-button {
		padding: 0px !important;
	}

	.header {
		padding: 10px;
		padding-top: 25px;
	}

	.face-page__title h1 {
		font-size: 137.071px;
	}

	.face-page__title h2 {
		font-size: 32.36px;
		line-height: 20px;
	}

	.face-page__title div {
		padding-left: 5px;
	}

	.footer {
		font-size: 12.361px;
		padding-left: 20px;
		padding-right: 0px;
	}

	.footer__contacts {
	    margin-top: -7px;
	    padding-right: 10px;
	}

	.footer img {
		margin-left: 5px;
	}
}
/* Landscape */
@media only screen and (max-width: 480px) and (orientation: landscape) {
}

/* --------------------------------------------------------------------------------------------------- 		
less than 568 
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen and (max-width: 568px) {
}
/* Landscape */
@media only screen and (max-width: 568px) and (orientation: landscape) {
}

/* --------------------------------------------------------------------------------------------------- 		
less than 667 
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen and (max-width: 667px)  {
}
/* Landscape */
@media only screen and (max-width: 667px) and (orientation: landscape) { 
}

/* --------------------------------------------------------------------------------------------------- 		
less than 736 
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen and (max-width: 736px)  { 
}

/* Landscape */
@media only screen and (max-width: 736px) and (orientation: landscape) { 
}


/* --------------------------------------------------------------------------------------------------- 		
less than 1024 
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen and (max-width: 1024px)  {
}
/* Landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape)  {
}


/* --------------------------------------------------------------------------------------------------- 
less than 1600 
--------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1600px)  { 
}

/* --------------------------------------------------------------------------------------------------- 
less than 1600 + 192dpi
--------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1600px) and (min-resolution: 192dpi) { 
}