/* --------------------------------------------------------------------------------------------------- 	iPhone 4 and 4S
--------------------------------------------------------------------------------------------------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
  	body {
		font-size: 12.361px;
	}

	.object__menu-slide-box {
		right: -100vw;
		width: 100vw;
	}

	.object__menu-slide-box li {
		line-height: 80px;
		width: 100vw;
		height: 80px;
		margin-top: 0px;
		padding-top: 0px;
	}

	.object__menu-slide-box li a {
		font-size: 52.358px;
		width: 100vw;
	}

	.object__menu-slide-box li:hover, 
	.object__menu-slide-box li:hover a {
		 vertical-align: baseline;
	}

	.object__contact-form {
		width: 100vw;
		left: -100vw;
		padding-top: 8vh;
	}

	.object__contact-form_box {
		width: 100%;
		margin-left: 0%;
	}

	.object__contact-form_box input {
		height: 45px;
		padding: 8px;
	}

	.object__contact-form_box textarea {
		height: 150px;
		padding: 8px;
	}

	.object__contact-form_box-button {
		padding: 0px !important;
	}

	.header {
		padding: 10px;
		padding-top: 25px;
	}

	.face-page__title h1 {
		font-size: 137.071px;
	}

	.face-page__title h2 {
		font-size: 32.36px;
		line-height: 20px;
	}

	.face-page__title div {
		padding-left: 5px;
	}

	.footer {
		font-size: 12.361px;
		padding-left: 20px;
		padding-right: 0px;
	}

	.footer__contacts {
	    margin-top: -7px;
	    padding-right: 10px;
	}

	.footer img {
		margin-left: 5px;
	}
}

/* Portrait */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (orientation: landscape) {
}

/* --------------------------------------------------------------------------------------------------- 		iPhone 5 and 5S 
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {
}

/* Portrait */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (orientation: portrait) {  	
}

/* Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (orientation: landscape) {
}

/* --------------------------------------------------------------------------------------------------- 		iPhone 6
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)  {
}

/* Portrait */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: landscape) { 
}

/* --------------------------------------------------------------------------------------------------- 		iPhone 6+
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px)  { 
}

/* Portrait */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (orientation: landscape) { 
}


/* --------------------------------------------------------------------------------------------------- 		iPad mini
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {
}

/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait)  {
}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape)  {
}

/* --------------------------------------------------------------------------------------------------- 		iPad 1 and 2 
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {
}

/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait)  {

}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape)  {

}

/* --------------------------------------------------------------------------------------------------- 
	iPad 3 and 4
--------------------------------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {
}

/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait)  {

}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape)  {

}

/* --------------------------------------------------------------------------------------------------- 
	Non-Retina Screens
--------------------------------------------------------------------------------------------------- */

@media screen 
  and (min-width: 1200px) 
  and (max-width: 1600px)  { 
}

/* --------------------------------------------------------------------------------------------------- 
	Retina Screens
--------------------------------------------------------------------------------------------------- */

@media screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) 
  and (min-resolution: 192dpi) { 
}