body {
	background-color: #191A26;
}

.face-page__title {
	color: white;
	position: initial;
	margin: 0px;
	padding: 25px;
}

.face-page__title h1 {
	margin-top: 50vh;
	color: white;
	line-height: initial;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	line-height: 0.9;
}

.face-page__title p  {
	font-family: "Attractive-Regular";
	font-size: 20px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.team__text-block {
	padding: 25px;
	background-color: #E94E53;
}

.team__photo-block {
	margin: 0px;
	padding: 10px;
	padding-top: 50px;
}

.team__photo-block h3 {
	padding: 0px;
	margin: 0px;
	font-family: "Bebas Bold";
	font-size: 32.36px;
	text-transform: uppercase;
	margin-bottom: 0px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.team__photo-block h4 {
	color: #313A54;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;	
}

.team__photo-block div {
	margin: 0px;
}

.team__photo-block .row {
	margin-bottom: 50px;
}

.team__photo-block img {
	width: 100%;
}

.footer {
	position: relative;
	background-color: #E94E53;
	height: 500px;
	padding-top: 0px;
}

.footer__slogan {
	height: 100px;
	margin-bottom: 150px;
}

.footer__slogan h1 {
	font-family: "Bebas Bold";
	color: white;
	font-size: 9.492rem;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.footer__link-modul,
.footer__contacts {
	margin-top: 200px;
}

